<template>
  <div class="home">
      <div class="container">
          <h1>TODO LIST</h1>
          <TodoInput @childAddList="addList"></TodoInput>
          <ol>
            <li v-for="(todoItem) in todolist" :key="todoItem.id" :class="{'completed':todoItem.state}" >
              <TodoList 
                @childUpdateItem="updateItem" 
                @childFinishItem="finishItem" 
                @childDeleteItem="deleteItem" 
                :todo="todoItem" 
              />
            </li>
          </ol>
      </div>
      <div>
        <button @click="clearTodo()">전체삭제</button>
      </div>
  </div>
</template>
<script>
import TodoInput from '../components/TodoInput.vue'
import TodoList from '../components/TodoList.vue'
export default {
  components:{
    TodoInput , TodoList
  },
  data(){
    return{
      todolist : []
    }
  },
  watch : {
    todolist : function(value){
      localStorage.setItem("todolist", JSON.stringify(value));
    }
  },
  created : function (){
      this.todolist = JSON.parse(localStorage.getItem("todolist") ?? "[]")
  },
  methods:{
    addList(todo){
      if(todo === null || todo === ''){
        alert("할 일을 입력해주세요.")
        return;
      }
      const id =this.todolist.length === 0 ? 0 : this.todolist[this.todolist.length-1].id +1; 
      this.todolist =[...this.todolist,{ id : id, todo : todo, state : false}]
    },
    updateItem(todo) {
      const idx = this.todolist.findIndex(todoItem => todoItem.id === todo.id); 
      if(idx >=0 ){ 
        this.todolist.splice(idx,1,{...this.todolist[idx] , todo:todo.todo})
      } 
    },
    deleteItem(id){
      const idx = this.todolist.findIndex(todoItem => todoItem.id === id); 
      if (idx > -1) this.todolist.splice(idx, 1)
    },
    finishItem(id){
      const idx = this.todolist.findIndex(todoItem => todoItem.id === id); 
      this.todolist.splice(idx,1,{...this.todolist[idx] , state : !this.todolist[idx].state})
    },
    clearTodo(){
      this.todolist.splice(0);
    }
  }
}
</script>
<style scoped>
.completed {
  text-decoration:line-through
}
</style>

