<template>
    <div>
        <todo-header></todo-header>
        <slot></slot> <!-- 여기에 컨텐츠 영역이 들어감. -->
        <todo-footer></todo-footer>
    </div>
</template>

<script>
import TodoHeader from './Header.vue'
import TodoFooter from './Footer.vue'

export default {
    components: { Header, Footer }, // 
}
</script>