<template>
    <div>
        <input type="text" v-model.trim="todo" @keyup.enter="addList(todo)" placeholder="할 일을 입력해주세요!" />
        <input type="submit" value="추가" @click="addList(todo)">
    </div>
</template>
<script>
export default {
    data () {
        return  {
            todo : this.todo
        }
    },
    methods : {
        addList(todo) {
            this.$emit('childAddList',todo)
            this.todo = ''
        }
    }
}
</script>