<template>
    <div>
        <input type="checkbox" @click="childFinishItem(todo.id)" :checked="todo.state" /> 
        <span :class="{'editing':!isEditing}" > {{todo.todo}} </span>

        <input type="text" v-model="todo.todo" :class="{'editing':isEditing}" > 
        <button @click="childDeleteItem(todo.id)">삭제</button>
        <button @click="childChangeItem(todo)" >수정</button>
    </div>
</template>
<script>
export default {
    props: {
        todo: Object
    },
    data () {
        return {
            isEditing : true,
        }
    },
    methods : {
    childChangeItem (todo) {
        if (!this.isEditing) {
            this.$emit('childUpdateItem',todo)   
        }
        this.isEditing = !this.isEditing
    },
    childDeleteItem (id) {
        this.$emit('childDeleteItem',id)
    },
    childFinishItem (id) {
        this.$emit('childFinishItem',id)
    }
}
}
</script>
<style scoped>
.editing {
    display: none;
}
</style>